AZURE_ISSUER_URI=https://tenant-ficticio.b2clogin.com/tenant-id-ficticio/v2.0/
AZURE_JWK_SET_URI=https://tenant-ficticio.b2clogin.com/tenant-ficticio.onmicrosoft.com/B2C_1_flujo/discovery/v2.0/keys
AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZURE_ROLES_CLAIM=extension_RolGuia
AWS_REGION=us-east-1
AWS_S3_BUCKET=bucket-ficticio
AWS_S3_AUTO_UPLOAD=false
APP_EFS_PATH=./efs-local
DB_URL=jdbc:h2:file:./data/guiadespacho;MODE=Oracle;AUTO_SERVER=TRUE
DB_USERNAME=sa
DB_PASSWORD=
DB_DRIVER=org.h2.Driver
SPRING_PROFILES_ACTIVE=default
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guias
RABBITMQ_PASSWORD=cambiar-antes-de-usar
RABBITMQ_RETRY_MAX_ATTEMPTS=3
RABBITMQ_ERROR_SIMULATION_ENABLED=false
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
