B2C_CLIENT_ID=
B2C_AUTHORITY=https://TU_TENANT.b2clogin.com/TU_TENANT.onmicrosoft.com/B2C_1_guias_signupsignin
B2C_KNOWN_AUTHORITY=TU_TENANT.b2clogin.com
B2C_REDIRECT_URI=http://localhost:5173
B2C_SCOPE=https://TU_TENANT.onmicrosoft.com/GUIAS_API/access_as_user
BFF_BASE_URL=http://localhost:8080
