AZURE_ISSUER_URI=https://tenant-ficticio.b2clogin.com/tenant-id/v2.0/
AZURE_JWK_SET_URI=https://tenant-ficticio.b2clogin.com/tenant.onmicrosoft.com/B2C_1_flujo/discovery/v2.0/keys
AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZURE_ROLES_CLAIM=extension_RolGuia
RABBITMQ_USERNAME=eft
RABBITMQ_PASSWORD=eft-local
AWS_REGION=us-east-1
AWS_S3_BUCKET=eft-cursos-materiales-demo
AWS_S3_UPLOAD_ENABLED=false
